<!DOCTYPE html>
<html lang="en">

<%- include('../template/head.ejs',{title:'Index'})%>

<body>
  <%- include('../template/header.ejs') %>
  <%- include('../template/footer.ejs') %>
  <h1>876876</h1>
</body>

</html>